
.collapsable-panel-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
.collapsable-panel-button i {
  font-size: 18px;
}
.collapsable-panel-button:hover {
  background-color: rgb(244, 244, 244);
}

.properties-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.properties-title {
  padding: 12px 0;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.sticky-panel {
  position: sticky;
  top: 60px;
}

.lateral-panel-section-padding {
  padding: 0 12px;
}
/* new inputs for properties  */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  transition: border-color 0.3s ease;
}

.input-container label {
  background-color: #f0f0f0;
  padding: 8px 12px;
  font-weight: bold;
  color: #333;
  border-right: 1px solid #aaa;
  flex-shrink: 0;
  min-width: 68px;
}

.input-container input {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: #ffff;
  flex-grow: 1;
  font-size: 16px;
}

.input-container input:focus {
  border: none;
  outline: none;
}

.input-container:focus-within {
  border-color: #333;
}

.input-container input::placeholder {
  color: #999;
}


/* padding and border controls */

.property-wrapper {
  padding-top: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.property-title {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.padding-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.padding-control {
  display: flex;
  flex-direction: column;
}

.padding-control {
  display: flex;
  flex-direction: column;
}

.padding-control label {
  font-size: 12px;
  margin-bottom: 4px;
}

.control-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  height: 28px;
  width: fit-content;

  input {
    background-color: #ffff;
  }
}

.padding-input {
  width: 30px;
  font-size: 14px;
  border: none;
  text-align: center;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  appearance: textfield;
  -moz-appearance: textfield; /* Elimina las flechas de número en Firefox */
}

.padding-input::-webkit-outer-spin-button,
.padding-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Elimina las flechas de número en Chrome */
  margin: 0;
}

.unit {
  background-color: #f0f0f0;
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

.adjust-button {
  border: none;
  background-color: #f9f9f9;
  width: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.adjust-button:hover {
  background-color: #e0e0e0;
}

/* Ocultar las flechas en los navegadores de WebKit (Chrome, Safari, etc.) */
.padding-input::-webkit-inner-spin-button,
.padding-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}  

/* ckeditor */

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by .ck-powered-by__label {
  display: none;
}

.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
  display: none;
}

.ck-balloon-panel {
  z-index: 1000000 !important;
}

.editor-container_inline-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.v-expansion-panel-title.v-expansion-panel-title {
  padding-left: 4px;
}

.v-expansion-panel-title--active.v-expansion-panel-title--active {
  min-height: unset;
}