.u-margin-bottom-small {
  margin-bottom: 8px;
}

.u-margin-bottom-medium {
  margin-bottom: 16px;
}

.u-margin-bottom-big {
  margin-bottom: 24px;
}

.u-margin-top-small {
  margin-top: 8px;
}

.u-margin-top-medium {
  margin-top: 16px;
}

.u-margin-top-big {
  margin-top: 24px;
}

.u-text-align-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.tooltip {
  opacity: 1;
  background-color: #072146 !important;
  // for tooltips with long text
  &--small {
    max-width: 40% !important;
  }
}

.u-grid-align-end {
  align-items: end;
}
