$primary-color: #004283;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//PALETA PRIMARIA
$navy: #072146;
$core-blue: #004481;
$core-dark-blue: #043263;
$core-light-blue: #1464a5;
$medium-blue: #1973b8;
$medium-light-blue: #49a5e6;
$sky-blue: #5bbeff;
$sky-light-blue: #d4edfc;
$aqua: #2dcccd;
$aqua-dark: #028484;
$aqua-medium: #02a5a5;
$aqua-light: #5ac4c4;
$aqua-white: #eaf9fa;

//PALETA SECUNDARIA
$grey-600: #121212;
$grey-500: #666666;
$grey-400: #bdbdbd;
$grey-300: #d3d3d3;
$grey-200: #e9e9e9;
$grey-100: #f4f4f4;

//PALETA TERCIARIA
$green: #48ae64;
$green-white: #d9efe0;
$orange: #f7893b;
$red-dark: #b92a45;
$coral-white: #fcdfdf;
$sand-white: #f3ebd5;
$gold: #d8be75;

//Fuentes
$medium: 'BentonSansBBVA';
$book: 'BentonSansBBVABook';
$bold: 'BentonSansBBVABold';
$light: 'BentonSansBBVALight';

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'mtablet': 896px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
  'extra-deskpot-wide': 1500px,
);

$browser-context: 16;
