@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .property-btn {
    background-color: #e4c77be7;
  }


  /* new inputs for properties  */
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #aaa; /* Borde más claro cuando no está en focus */
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    transition: border-color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .input-container label {
    background-color: #f0f0f0;
    padding: 8px 12px;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #aaa;
    flex-shrink: 0;
  }
  
  .input-container input {
    border: none;
    outline: none;
    padding: 8px 12px;
    flex-grow: 1;
    font-size: 16px;
  }
  
  /* Cambiar el color del borde al hacer focus en el input */
  .input-container input:focus {
    border: none;
    outline: none;
  }
  
  .input-container:focus-within {
    border-color: #333; /* Color más oscuro cuando el input está en focus */
  }
  
  .input-container input::placeholder {
    color: #999;
  }

  /* tabs columns */

  .column-tabs {
    display: flex;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .tab {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .tab:hover {
    color: #333;
  }
  
  .active-tab {
    color: #333;
  }
  
  .active-tab::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #333;
  }

/* ckeditor */

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_inline-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}
}
